html 
body { 
  height: 100%; 
  width: 100%; 
  margin: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
} 
 
.main { 
  display: flex; 
  align-items: center; 
} 
 
.button { 
  height: 30px; 
  width: 220px; 
  border: 2px solid black; 
  margin: 10px; 
  display: flex; 
  justify-content: center; 
align-items: center; 
} 
.button button { 
height: 100%; 
width: 100%; 
border: none; 
background: none; 
cursor: pointer; 
font-size: 14px; 
} 
#text { 
height: 30px; 
width: 220px; 
border: 2px solid black; 
display: flex; 
align-items: center; 
justify-content: center; 
}